<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>clientes</title>
    <link
      href="https://bootswatch.com/5/spacelab/bootstrap.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <nav class="navbar navbar-dark bg-primary">
      <a class="navbar-brand m-1" href="/">Citas Veterinarias</a>
    </nav>
